body{
	text-decoration: none;
	font-family: calibri Light;
	margin: 0;
}

a{
	text-decoration: none;
}

button:hover {
	cursor: pointer;
}

.header {
	display: flex;
	text-align: center;
	height: auto;
	width: 100%;
}

nav {
	z-index: 99;
	display: flex;
	position: fixed;
	height: 60px;
	background-color: #000000e6;
	width: 100%;
	justify-content: center;
}

nav img{
	width: auto;
	height: 100%;
	margin: 0 20px;
}

nav li {
	text-transform: uppercase;
	padding: 14px;
	list-style-type: none;
	font-size: 1.2em;
}

nav li:hover {
	box-shadow: 0 0 20px 0px black;
	transition: all ease 0.5s;
}

.header a {
	text-decoration: none;
	color: white;
}

.header .bandeau {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.here {

    font-weight: bold;

}

.footer {
    position: relative;
    z-index: 101;
    overflow: hidden;
    color: #a5ae4b;
    font-family: verdana;
    height: auto;
	width: 100%;
}

#footer-content {
    background-color: #000000;
    color: #7492c1b3;
    padding-top: 15px;
	padding-bottom: 20px;
    justify-content: space-around;
	display: flex;

}

#footer-sep {
    background-color: #7492c1b3;
    min-height: 25px;
}

#footer-content .fab {
    margin-top: 20px;
    padding-right: 10px;
    font-size: 1.5em;
}

#footer-content a{
	color: #7492c1;
}

.slider {

    position: relative;
    top: 300px;
    width: 60%;
    height: 300px;
    margin: 0 20%;
    background-color: #878787cc;

}

.carousel {
	height: 298px;
}

.w-100 {

    width: 393px !important;

}

leftMenu{
	top: 85px;
	height: 100%;
	width: 300px;
	position: fixed;
	background-color: #000000e6;
	z-index: 100;

}

.cesiLogo{
	top: 100px;
}

.container-home{
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	margin-left: 300px;
}

.bde{
	background: url("../img/bandeau_home.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 50%;
}

h1 p{
	font-family: 'Boogaloo', cursive;
	font-size: 75%;
}
h1{
	text-align: center;
	margin: 10% 35%;
	color: #fffc;
	background-color: #6586bbb3;
	height: 40%;
	font-family: 'Bungee', cursive;
	font-size: 3em;
	width: 30%;
	padding: 4% 0;
}

h2{
	font-family: 'Bungee', cursive;
}

.events-home {
	background: #6586b9cc;
	width: 100%;
	display: flex;
	margin-top: -15px;
	padding: 1%;
	justify-content: space-around;
}

.events-home * {
	margin: 1%;
}

.events-home-text {

	background: white;
	width: 650px;
	height: 200px;
	margin: 3% 0;
	border-radius: 10px;
	font-family: 'Boogaloo', cursive;
	font-size: 1.5em;
	padding: 1% 5%;

}